img[src*="#_center_#"] {
    display: block; !important
    margin-left: auto; !important
    margin-right: auto; !important
}

img[src*="#_right_#"] {
    float:right; !important
    clear:right; !important
    margin-left: 1rem; !important
    margin-bottom: 2px; !important
    margin-top: 2px; !important
}

img[src*="#_center"] {
    display: block; !important
    margin-left: auto; !important
    margin-right: auto; !important
}

img[src*="#_right"] {
    float:right; !important
    clear:right; !important
    margin-left: 1rem; !important
    margin-bottom: 2px; !important
    margin-top: 2px; !important
}
