img[src*="#_center_#"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[src*="#_right_#"] {
    float:right;
    clear:right;
    margin-left: 1rem;
    margin-bottom: 2px;
    margin-top: 2px;
}

img[src*="#_center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[src*="#_right"] {
    float:right;
    clear:right;
    margin-left: 1rem;
    margin-bottom: 2px;
    margin-top: 2px;
}
